@let data= vm$ | async;
<div class="bg-gray-50 min-h-screen">
  <div class="p-4">
    <div class="stats shadow mx-auto bg-white">
      <div class="stat">
        <div class="stat-title">Fetch status</div>
        <div class="stat-value flex items-center gap-3">
          @if(data?.isLoading) {
          <div class="inline-grid *:[grid-area:1/1]">
            <div class="status status-primary animate-ping"></div>
            <div class="status status-primary"></div>
          </div>
          Loading } @if(data?.isLoaded) {
          <div class="inline-grid *:[grid-area:1/1]">
            <div class="status status-success"></div>
            <div class="status status-success"></div>
          </div>
          Loaded }
        </div>
      </div>
    </div>

    @if(data && data.result ) {
    <div class="bg-white p-4 rounded shadow mt-8">
      <h2 class="font-bold">Entities</h2>
      <div class="relative overflow-x-auto">
        <table class="table table-zebra">
          <thead class="">
            <tr>
              <th scope="col" class="">ID</th>
              <th scope="col" class="">Name</th>
              <th scope="col" class="">Status</th>
              <th scope="col" class="">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for(entityData of data.result; track entityData.entity.id) {
            <tr class="">
              <th scope="row" class="flex items-center gap-3">
                @if(entityData.status.update?.isLoading) {
                <div class="inline-grid *:[grid-area:1/1]">
                  <div class="status status-primary animate-ping"></div>
                  <div class="status status-primary"></div>
                </div>
                }

                {{ entityData.entity.id }}
              </th>
              <td class="">{{ entityData.entity.name }}</td>
              <td class="">
                <span
                  *ngIf="entityData.status.update?.isLoading"
                  class="bg-yellow-200 text-yellow-800 px-2 py-1 rounded"
                  >Updating</span
                >

                <span
                  *ngIf="entityData.status.update?.isLoaded"
                  class="bg-green-200 text-green-800 px-2 py-1 rounded"
                  >Updated</span
                >
                <span
                  *ngIf="entityData.status.delete?.isLoading"
                  class="bg-red-200 text-red-800 px-2 py-1 rounded"
                  >Deleting</span
                >
              </td>
              <td class="">
                <button
                  (click)="updateItem(entityData.entity)"
                  class="text-blue-500"
                >
                  Edit
                </button>
                <button
                  (click)="deleteItem(entityData.entity)"
                  class="text-red-500"
                >
                  Delete
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <!-- Pagination buttons -->
      <div class="flex justify-between mt-4">
        <button class="btn" (click)="previousPage()">Previous</button>
        <button class="btn" (click)="nextPage()">Next</button>
      </div>
    </div>
    }
  </div>
</div>
