<div class="p-4">
  <div class="mb-4">
    <button class="btn" (click)="createItemTest()">Add Item</button>
  </div>

  <div *ngIf="store.allData()?.isLoading" class="text-center py-4">
    Loading...
  </div>

  <div class="mb-4">
    <span
      *ngIf="store.allData()?.hasCreatingItem"
      class="bg-blue-200 text-blue-800 px-2 py-1 rounded mr-2"
      >Creating...</span
    >
    <span
      *ngIf="store.allData()?.hasUpdatingItem"
      class="bg-yellow-200 text-yellow-800 px-2 py-1 rounded mr-2"
      >Updating...</span
    >
    <span
      *ngIf="store.allData()?.hasDeletingItem"
      class="bg-red-200 text-red-800 px-2 py-1 rounded mr-2"
      >Deleting...</span
    >
    <span
      *ngIf="
        store.allData()?.hasCreationError ||
        store.allData()?.hasUpdateError ||
        store.allData()?.hasDeleteError
      "
      class="bg-red-200 text-red-800 px-2 py-1 rounded"
      >Error occurred</span
    >
  </div>

  <div class="relative overflow-x-auto">
    <table *ngIf="store.allData()?.isLoaded" class="table">
      <thead class="">
        <tr>
          <th scope="col" class="">ID</th>
          <th scope="col" class="">Name</th>
          <th scope="col" class="">Status</th>
          <th scope="col" class="">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of store.allData()?.items" class="">
          <th scope="row" class="">
            {{ item.item.id }}
          </th>
          <td class="">{{ item.item.name }}</td>
          <td class="">
            <span
              *ngIf="item.isCreating"
              class="bg-blue-200 text-blue-800 px-2 py-1 rounded"
              >Creating</span
            >
            <span
              *ngIf="item.isUpdating"
              class="bg-yellow-200 text-yellow-800 px-2 py-1 rounded"
              >Updating</span
            >
            <span
              *ngIf="item.isDeleting"
              class="bg-red-200 text-red-800 px-2 py-1 rounded"
              >Deleting</span
            >
            <span
              *ngIf="item.isCreated"
              class="bg-green-200 text-green-800 px-2 py-1 rounded"
              >Created</span
            >
            <span
              *ngIf="item.isUpdated"
              class="bg-green-200 text-green-800 px-2 py-1 rounded"
              >Updated</span
            >
            <span
              *ngIf="item.isDeleted"
              class="bg-green-200 text-green-800 px-2 py-1 rounded"
              >Deleted</span
            >
            <span
              *ngIf="item.hasCreationError"
              class="bg-red-200 text-red-800 px-2 py-1 rounded"
              >Creation Error</span
            >
            <span
              *ngIf="item.hasUpdateError"
              class="bg-red-200 text-red-800 px-2 py-1 rounded"
              >Update Error</span
            >
            <span
              *ngIf="item.hasDeleteError"
              class="bg-red-200 text-red-800 px-2 py-1 rounded"
              >Delete Error</span
            >
          </td>
          <td class="">
            <button
              (click)="updateItemTest(item.item.id)"
              class="text-blue-500"
            >
              Edit
            </button>
            <button
              (click)="updateItemError(item.item.id)"
              class="text-red-500"
            >
              EditError
            </button>
            <button (click)="deleteItemTest(item.item.id)" class="text-red-500">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
